<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onezogreen.onezo3.order.OrderMapper">

    <resultMap id="OrderResultMap" type="com.onezogreen.onezo3.order.OrderVo">
        <id property="orderId" column="order_id" />
        <result property="storeId" column="store_id" />
        <result property="memberId" column="member_id" />
        <result property="status" column="status" />
        <result property="orderDate" column="order_date" />
        <result property="takeInOut" column="take_in_out" />

    </resultMap>

    <resultMap id="OrderItemResultMap" type="com.onezogreen.onezo3.order.OrderItemVo">
        <id property="orderItemId" column="order_item_id" />
        <result property="orderId" column="order_id" />
        <result property="menuId" column="menu_id" />
        <result property="quantity" column="quantity" />
    </resultMap>

    <select id="getOrdersByStore" resultMap="OrderResultMap">
        SELECT order_id, store_id, member_id, status, take_in_out, order_date
        FROM orders
        WHERE store_id = #{storeId}
    </select>

    <update id="updateOrderStatus">
        UPDATE orders
        SET status = #{status}
        WHERE store_id = #{storeId} AND order_id = #{orderId}
    </update>

    <select id="getOrderStatusByStore" resultMap="OrderResultMap">
        SELECT order_id, store_id, member_id, status, take_in_out, order_date
        FROM orders
        WHERE store_id = #{storeId} AND order_id = #{orderId}
    </select>

    <select id="getOrderItemsByOrderId" resultMap="OrderItemResultMap">
        SELECT order_item_id, order_id, menu_id, quantity
        FROM order_item
        WHERE order_id = #{orderId}
    </select>

</mapper>