<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onezogreen.onezo3.review.ReviewMapper">
    <update id="updateReply"
            parameterType="ReviewVo">
        update review
        set reply          = #{reply},
            replyDelete_yn = 'N'
        where review_id = #{review_id}
    </update>

    <update id="deleteReply"
            parameterType="ReviewVo">
        update Review
        set replyDelete_yn = 'Y'
        where review_id = #{review_id}
    </update>

    <update id="deleteReview"
            parameterType="ReviewVo">
        update Review
        set reviewDelete_yn = 'Y'
        where review_id = #{review_id}
    </update>

    <select id="selectReviewReply"
            parameterType="ReviewVo">
        select r.reply, r.review, r.star, p.order_id
        from review r
                 join member m ON r.member_id = m.member_id
                 join purchase p ON m.member_id = p.member_id
        where r.store_id = #{store_id}
    </select>

</mapper>